<h2>CommonsBooking Dashboard</h2>

<p>-- noch nicht aktiv -- </p>

{# <form method="get" action="{{ actionUrl }}">

    <h3>Filter</h3>
    <input type="hidden" name="page" value="cb-dashboard"/>
    <label for="location">Standort</label>
    <select name="location" id="location">
        <option value="">-</option>
        {% for location in locations %}
            <option value="{{ location.ID }}" {% if location.ID == currentLocation %} selected="selected"{% endif %}>{{ location.post_title }}</option>
        {% endfor %}
    </select>

    <label for="item">Item</label>
    <select name="item" id="item">
        <option value="">-</option>
        {% for item in items %}
            <option value="{{ item.ID }}" {% if item.ID == currentItem %} selected="selected"{% endif %}>{{ item.post_title }}</option>
        {% endfor %}
    </select>

    <label for="type">Type</label>
    <select name="type" id="type">
        <option value="">-</option>
        {% for key, label in types %}
            <option value="{{ key }}" {% if key == currentType %} selected="selected"{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Anzeigen" class="button" />
</form>

{% include 'calendar/index.html.twig' with {'calendar': calendar, 'backend': 'true' } %} #}

