<li>
    {{ day.name }} {{ day.date }}<br><br>
    {% for slot in day.grid %}
        <div class="timeslot--wrapper">
        {{ slot.timestart }} - {{ slot.timeend }}

            {% if slot.timeframes|length %}
                <ul>
                    {% for timeframe in slot.timeframes %}
                        <li class="timeslot--type-{{ timeframe.type }}">
                            {{ timeframe|get_type_label }} ({{ timeframe.type }}, ID: {{ timeframe.ID }})
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</li>
