<li class="type-cb_day">

    <div class="cb-day-title">
        <span>{{ day.formattedDate('d') }}</span>
        <span>{{ day.formattedDate('M') }}</span>
    </div>
    

    {% for slotNr, slot in day.grid %}
        {% if slot.timeframe %}
            {% if slot.timeframe.type == '2' %}
                <div class="cb-timeframe cb-timeframe--type-{{ slot.timeframe.type }}" data-type-label="{{ slot.timeframe|get_type_label }}" >
                    {% if backend != 'true' %}<a target="_blank" href="{{ slot.timeframe|get_link }}&slot={{ slotNr }}&date={{ day.formattedDate('Y-m-d') }}">{% endif %}
                        <span>
                            {{ slot.timestart }} - {{ slot.timeend }}
                        </span>
                    {% if backend != 'true' %}</a>{% endif %}
                </div>
            {% else %}
                <div class="cb-timeframe cb-timeframe--type-{{ slot.timeframe.type }}" data-type-label="{{ slot.timeframe|get_type_label }}" >
                    <span>
                        {{ slot.timestart }} - {{ slot.timeend }}
                    </span>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</li>
