<div class="alignwide">
    <form method="post">
        {{ wp_nonce|raw }}
        <input type="hidden" name="location-id" value="{{location.post.ID}}" />
        <input type="hidden" name="item-id" value="{{item.post.ID}}" />
        <input type="hidden" name="type" value="{{ type }}" />
        <input type="hidden" name="slot" value="{{ slot }}" />
        <input type="hidden" name="post_type" value="cb_timeframe" />
        <input type="hidden" name="start-date" value="{{ startDate }}">
        <input type="hidden" name="end-date" value="{{endDate}}">
        <input type="submit" value="Buchen" />
    </form>
</div>
